
    <div class="row mt-3">
      <div class="col-8 mx-auto text-center">
        <h2>Aktualności i ogłoszenia:</h2>

      <div class="card my-3" *ngFor="let announcement of announcements">
        <div class="card-header">
          <h5>Nadawca: {{announcement.workerFirstName}} {{announcement.workerLastName}}</h5>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{announcement.title}}</h4>
          <p class="card-text">{{announcement.content}}</p>
        </div>
        <div class="card-footer text-muted">
          <p>Wysłano: {{announcement.timeStamp}}</p>
        </div>
      </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-8 mx-auto text-center">
        <!--<ul *ngIf="numberOfPages > 1" class="pagination">-->
          <!--<li *ngIf="activePage>0" class="waves-effect"><a (click)="showPage(activePage-1)"><i class="material-icons">chevron_left</i></a></li>-->
          <!--<li *ngIf="activePage === 0" class="disabled"><a><i class="material-icons">chevron_left</i></a></li>-->
          <!--<li *ngFor="let page of paginationInfo.pagesBeforeActive" class="waves-effect"><a (click)="showPage(page)">{{page+1}}</a></li>-->
          <!--<li class="active blue-grey"><a (click)="showPage(activePage)">{{activePage+1}}</a></li>-->
          <!--<li *ngFor="let page of paginationInfo.pagesAfterActive" class="waves-effect"><a (click)="showPage(page)">{{page+1}}</a></li>-->
          <!--<li *ngIf="activePage<numberOfPages-1" class="waves-effect"><a (click)="showPage(activePage+1)"><i class="material-icons">chevron_right</i></a></li>-->
          <!--<li *ngIf="activePage === numberOfPages-1" class="disabled"><a><i class="material-icons">chevron_right</i></a></li>-->
        <!--</ul>-->


        <nav *ngIf="numberOfPages > 1">
          <ul class="pagination">
            <li *ngIf="activePage === 0" class="page-item disabled"><a class="page-link">Poprzednia</a></li>
            <li *ngIf="activePage>0" class="page-item"><a class="page-link" (click)="showPage(activePage-1)">Poprzednia</a></li>
            <li *ngFor="let page of paginationInfo.pagesBeforeActive" class="page-item"><a class="page-link" (click)="showPage(page)" href="#">{{page+1}}</a></li>
            <li class="page-item active"><a class="page-link" (click)="showPage(activePage)">{{activePage+1}}</a></li>
            <li *ngFor="let page of paginationInfo.pagesAfterActive" class="page-item"><a class="page-link" (click)="showPage(page)">{{page+1}}</a></li>
            <li *ngIf="activePage<numberOfPages-1" class="page-item"><a class="page-link" (click)="showPage(activePage+1)">Następna</a></li>
            <li *ngIf="activePage === numberOfPages-1" class="page-item disabled"><a class="page-link">Następna</a></li>
          </ul>
        </nav>

      </div>
    </div>

