<link rel="stylesheet" href="src/styles.css">
<body class="container">
<div class="row">
  <div class="col-12">
    <nav>
      <div class="nav-wrapper blue-grey">
        <a href="#" class="brand-logo left" style="margin-left: 10px">Dormitory Maintenance System</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn red" (click)="logout()">Wyloguj się</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col s3">
    <div class="collection">
      <a routerLink="/inhabitantPage/news" href="" class="collection-item black-text">Aktualności</a>
      <a routerLink="/inhabitantPage/newRequest" class="collection-item black-text">Nowe zgłoszenie</a><!--active blue-grey-->
      <a routerLink="/inhabitantPage/requests" class="collection-item black-text">Moje zgłoszenia</a>
      <a routerLink="/inhabitantPage/settings" class="collection-item black-text">Ustawienia</a>
    </div>
  </div>
  <div class="col s9">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" routerLink="/inhabitantPage/newRequest">
    <i class="large material-icons">mode_edit</i>
  </a>
  <!--<ul>-->
    <!--&lt;!&ndash;<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>&ndash;&gt;-->
    <!--<li><a class="btn-floating green" ><i class="material-icons">publish</i></a></li>-->
    <!--&lt;!&ndash;<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>&ndash;&gt;-->
  <!--</ul>-->
</div>

</body>
