<link rel="stylesheet" href="src/styles.css">
<body class="container">
<div class="row center-align">
  <h3>
    Zarejestruj się
  </h3>
  <form>
    <div class="row">
      <div class="input-field col s4 offset-s2">
        <label for="first_name">Imię</label>
        <input id="first_name" type="text" class="validate">
      </div>
      <div class="input-field col s4">
        <label for="last_name">Nazwisko</label>
        <input id="last_name" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s2">
        <label for="email">Adres e-mail</label>
        <input id="email" type="text" name="email" class="validate">
      </div>
      <div class="input-field col s4">
        <label for="email2">Powtórz e-mail</label>
        <input id="email2" type="text" name="email" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s2">
        <label for="password">Hasło</label>
        <input id="password" type="password" name="password" class="validate">
      </div>
      <div class="input-field col s4">
        <label for="password2">Powtórz Hasło</label>
        <input id="password2" type="password" name="password" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
      </div>
    </div>
    <button class="btn btn-large blue">Zarejestruj się</button>
  </form>


</div>
<div class="row center-align">
  <button class="btn btn-large blue" routerLink="/">Powrót</button>
</div>
</body>
