<!--<link rel="stylesheet" href="src/styles.css">-->
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Dormitory Maintenance System</a>
  </div>
</nav>
<div class="container">

  <div class="row mt-3">
    <div class="col-md-5 mx-auto text-center">
      <h3>Wprowadź swoje dane:</h3>
      <div id="form-group">
        <form class="form-inline">
          <label for="mail" class="w-50 mt-4"><b>Adres e-mail:</b></label>
          <input class="form-control w-50 mt-4" id="mail" type="text" [(ngModel)]="inhabitantRegistrationData.email"/>
          <label for="password" class="w-50 mt-4"><b>Hasło:</b></label>
          <input class="form-control w-50 mt-4" id="password" type="password" [(ngModel)]="inhabitantRegistrationData.password"/>
          <label for="password2" class="w-50 mt-4"><b>Powtórz hasło:</b></label>
          <input class="form-control w-50 mt-4" id="password2" type="password" [(ngModel)]="confirmPassword"/>
          <label for="name" class="w-50 mt-4"><b>Imię:</b></label>
          <input class="form-control w-50 mt-4" id="name" type="text" [(ngModel)]="inhabitantRegistrationData.firstName"/>
          <label for="surname" class="w-50 mt-4"><b>Nazwisko:</b></label>
          <input class="form-control w-50 mt-4" id="surname" type="text" [(ngModel)]="inhabitantRegistrationData.lastName"/>
          <label for="roomnumber" class="w-50 mt-4"><b>Numer pokoju:</b></label>
          <input class="form-control w-50 mt-4" id="roomnumber" type="text" [(ngModel)]="inhabitantRegistrationData.roomNumber"/>
          <input class="btn btn-primary border border-dark btn-lg btn-block mt-4" type="submit" value="Zarejestruj" (click)="register()" />
        </form>
      </div>
     {{message}}
    </div>
  </div>
  <div class="row mt-3">
    <div class="mx-auto text-center">
        <button class="btn border btn-primary border-dark btn-lg btn-block mt-4" routerLink="/">Powrót</button>
    </div>
  </div>
</div>


</body>

